useDynLib(MMLB, DeconvolveGH_CALL, LogLScoreCalc_CALL)
import(fastGHQuad, MASS, Rcpp)
export(mm, MMLongit, GenBinaryY)
S3method(summary, MMLongit)
S3method(anova, MMLongit)
S3method(print, summary.MMLongit)
S3method(print, MMLongit)
S3method(print, anova.MMLongit)
S3method(coef, MMLongit)
S3method(vcov, MMLongit)